Package: com.vyper.axe
Name: Axe
Architecture: iphoneos-arm
Description: Add a touch of color based on your battery percent!
Maintainer: Vyper
Author: Vyper
Section: Tweaks
Depiction: https://ashtondbl.com/VyperRepo/depictions/axe
Depends: mobilesubstrate (>= 0.9.5000), firmware(>=13.0)
Version: 2.0.0
Installed-Size: 420
